<div *ngIf="basket$ | async as basket">
  <div class="row product-headers">
    <div class="col-lg-12">
      <div class="col-lg-4">Product</div>
      <div class="col-lg-2">Price</div>
      <div class="col-lg-2">Quantity</div>
      <div class="col-lg-2">Total</div>
      <div class="col-lg-2" *ngIf="isBasket">Remove</div>
    </div>
  </div>
  <div *ngFor="let item of basket.items" class="row products">
    <div class="col-lg-4 product-details">
      <div class="col-lg-3">
        <img src="{{ item.pictureUrl }}" alt="{{ item.productName }}" />
      </div>
      <div class="col-lg-8">
        <a href="/shop/{{ item.id }}">{{ item.productName }}</a>
        <p>Type: {{ item.productType }}</p>
      </div>
    </div>
    <div class="col-lg-2">{{ item.price | currency: "GBP" }}</div>
    <div class="col-lg-2">
      <mat-icon *ngIf="isBasket" (click)="decrementItemQuantity(item)"
        >remove_circle_outline</mat-icon
      >
      <span>{{ item.quantity }}</span>
      <mat-icon *ngIf="isBasket" (click)="incrementItemQuantity(item)"
        >add_circle_outline</mat-icon
      >
    </div>
    <div class="col-lg-2">
      {{ item.price * item.quantity | currency: "GBP" }}
    </div>
    <div class="col-lg-2" *ngIf="isBasket">
      <button mat-flat-button color="primary" (click)="removeBasketItem(item)">
        Remove
      </button>
    </div>
  </div>
</div>
