<div class="container">
  <div class="col-xs-6 col-lg-3">
    <a href="https://unsplash.com/@jekafe">
      <div class="artist-card">
        <img
          class="artist-card-image"
          src="https://images.unsplash.com/profile-1599446683222-b1e5543a0b3dimage?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff"
          alt="artist-profile"
        />
        <span class="artist-card-title">Jessica Felicio</span>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-lg-3">
    <a href="https://unsplash.com/@giorgiotrovato">
      <div class="artist-card">
        <img
          class="artist-card-image"
          src="https://images.unsplash.com/profile-1650471803852-d908c8342d64image?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff"
          alt="artist-profile"
        />
        <span class="artist-card-title">Giorgio Trovato</span>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-lg-3">
    <a href="https://unsplash.com/@michealcopley03">
      <div class="artist-card">
        <img
          class="artist-card-image"
          src="https://images.unsplash.com/profile-1594847553230-a4e36381d2cdimage?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff"
          alt="artist-profile"
        />
        <span class="artist-card-title">Michael C</span>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-lg-3">
    <a href="https://unsplash.com/@shotbyraza">
      <div class="artist-card">
        <img
          class="artist-card-image"
          src="https://images.unsplash.com/profile-1515102545940-d41a91fb4420?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff"
          alt="artist-profile"
        />
        <span class="artist-card-title">Ahmed Syed</span>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-lg-3">
    <a href="https://unsplash.com/@coralineart">
      <div class="artist-card">
        <img
          class="artist-card-image"
          src="https://images.unsplash.com/profile-1593345639572-9890867f29ffimage?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff"
          alt="artist-profile"
        />
        <span class="artist-card-title">Simion Andreea-Marina</span>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-lg-3">
    <a href="https://unsplash.com/@whitfieldjordan">
      <div class="artist-card">
        <img
          class="artist-card-image"
          src="https://images.unsplash.com/profile-1620768938223-6a8ed5b340f1image?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff"
          alt="artist-profile"
        />
        <span class="artist-card-title">Jordan Whitfield</span>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-lg-3">
    <a href="https://unsplash.com/@priscilladupreez">
      <div class="artist-card">
        <img
          class="artist-card-image"
          src="https://images.unsplash.com/profile-1636498386987-872de47c62abimage?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff"
          alt="artist-profile"
        />
        <span class="artist-card-title">Priscilla Du Preez</span>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-lg-3">
    <a href="https://unsplash.com/@alonsoreyes">
      <div class="artist-card">
        <img
          class="artist-card-image"
          src="https://images.unsplash.com/profile-fb-1530928602-b3e01e35a216.jpg?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff"
          alt="artist-profile"
        />
        <span class="artist-card-title">Alonso Reyes</span>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-lg-3">
    <a href="https://unsplash.com/@immortalbelief">
      <div class="artist-card">
        <img
          class="artist-card-image"
          src="https://images.unsplash.com/profile-1639353872750-fb3449865573image?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff"
          alt="artist-profile"
        />
        <span class="artist-card-title">Wesley Sanchez</span>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-lg-3">
    <a href="https://unsplash.com/@vasile">
      <div class="artist-card">
        <img
          class="artist-card-image"
          src="https://images.unsplash.com/profile-1520503389592-4fc402ac18cb?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff"
          alt="artist-profile"
        />
        <span class="artist-card-title">Vasi</span>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-lg-3">
    <a href="https://unsplash.com/@clemono">
      <div class="artist-card">
        <img
          class="artist-card-image"
          src="https://images.unsplash.com/profile-1537740391424-86188f82f007?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff"
          alt="artist-profile"
        />
        <span class="artist-card-title">Clem Onojeghuo</span>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-lg-3">
    <a href="https://unsplash.com/@ryancp">
      <div class="artist-card">
        <img
          class="artist-card-image"
          src="https://images.unsplash.com/profile-1507465294892-ee43b8037afe?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff"
          alt="artist-profile"
        />
        <span class="artist-card-title">Ryan Plomp</span>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-lg-3">
    <a href="https://unsplash.com/@nzdoug16">
      <div class="artist-card">
        <img
          class="artist-card-image"
          src="https://images.unsplash.com/profile-1585519451618-fd98bf264838image?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff"
          alt="artist-profile"
        />
        <span class="artist-card-title">Douglas Bagg</span>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-lg-3">
    <a href="https://unsplash.com/@pl_gt">
      <div class="artist-card">
        <img
          class="artist-card-image"
          src="https://images.unsplash.com/profile-1506116186247-0323cb222528?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff"
          alt="artist-profile"
        />
        <span class="artist-card-title">Paul Gaudriault</span>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-lg-3">
    <a href="https://unsplash.com/@jeff_tumale">
      <div class="artist-card">
        <img
          class="artist-card-image"
          src="https://images.unsplash.com/profile-1572268088709-4c6e1e167328image?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff"
          alt="artist-profile"
        />
        <span class="artist-card-title">Jeff Tumale</span>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-lg-3">
    <a href="https://unsplash.com/@mattsmellow">
      <div class="artist-card">
        <img
          class="artist-card-image"
          src="https://images.unsplash.com/profile-1646435732597-49e4b6fedfa9?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff"
          alt="artist-profile"
        />
        <span class="artist-card-title">Matthew Dagelet</span>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-lg-3">
    <a href="https://unsplash.com/@lgnwvr">
      <div class="artist-card">
        <img
          class="artist-card-image"
          src="https://images.unsplash.com/profile-1648284806245-917d58e93dce?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff"
          alt="artist-profile"
        />
        <span class="artist-card-title">Logan Weaver</span>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-lg-3">
    <a href="https://unsplash.com/@sirioberati">
      <div class="artist-card">
        <img
          class="artist-card-image"
          src="https://images.unsplash.com/profile-1554394209576-6f04f6d3a5bd?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff"
          alt="artist-profile"
        />
        <span class="artist-card-title">Sirio</span>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-lg-3">
    <a href="https://unsplash.com/@mxpissioli">
      <div class="artist-card">
        <img
          class="artist-card-image"
          src="https://images.unsplash.com/profile-1626545161512-155fce27b77cimage?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff"
          alt="artist-profile"
        />
        <span class="artist-card-title">Maria Fernanda Pissioli</span>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-lg-3">
    <a href="https://unsplash.com/@vhladynets">
      <div class="artist-card">
        <img
          class="artist-card-image"
          src="https://images.unsplash.com/profile-1613301359849-f2890b034cd0image?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff"
          alt="artist-profile"
        />
        <span class="artist-card-title">Vicky Hladynets</span>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-lg-3">
    <a href="https://unsplash.com/@mlightbody">
      <div class="artist-card">
        <img
          class="artist-card-image"
          src="https://images.unsplash.com/profile-1520426559373-e19ce126f0c5?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff"
          alt="artist-profile"
        />
        <span class="artist-card-title">Malcolm Lightbody</span>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-lg-3">
    <a href="https://unsplash.com/@danielapodaca96">
      <div class="artist-card">
        <img
          class="artist-card-image"
          src="https://images.unsplash.com/profile-1505999155382-4e8ba752b84b?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff"
          alt="artist-profile"
        />
        <span class="artist-card-title">Daniel Apodaca</span>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-lg-3">
    <a href="https://unsplash.com/@thecomeupcompanyllc">
      <div class="artist-card">
        <img
          class="artist-card-image"
          src="https://images.unsplash.com/profile-1628006404676-c021058b8c5b?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff"
          alt="artist-profile"
        />
        <span class="artist-card-title">Patriçio</span>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-lg-3">
    <a href="https://unsplash.com/@timmossholder">
      <div class="artist-card">
        <img
          class="artist-card-image"
          src="https://images.unsplash.com/profile-1474504186457-d0b36ed789fb?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff"
          alt="artist-profile"
        />
        <span class="artist-card-title">Tim Mossholder</span>
      </div>
    </a>
  </div>
</div>
