<div [formGroup]="checkoutForm">
  <div>
    <h4>Shipping Address</h4>
    <button
      (click)="saveUserAddress()"
      [disabled]="
        !checkoutForm.get('addressForm').valid ||
        !checkoutForm.get('addressForm').dirty
      "
    >
      Save as default
    </button>
  </div>
  <div class="row" formGroupName="addressForm">
    <div class="form-group">
      <app-text-input
        [label]="'First Name'"
        formControlName="firstName"
      ></app-text-input>
      <app-text-input
        [label]="'Last Name'"
        formControlName="lastName"
      ></app-text-input>
      <app-text-input
        [label]="'Street'"
        formControlName="street"
      ></app-text-input>
      <app-text-input [label]="'City'" formControlName="city"></app-text-input>
      <app-text-input
        [label]="'Country'"
        formControlName="country"
      ></app-text-input>
      <app-text-input
        [label]="'Post Code'"
        formControlName="postCode"
      ></app-text-input>
    </div>
  </div>
</div>

<div>
  <button [routerLink]="['/basket']">Basket</button>
  <button cdkStepperNext [disabled]="!checkoutForm.get('addressForm').valid">
    Continue
  </button>
</div>
