<div class="col-lg-12 no-padding">
  <div [formGroup]="checkoutForm">
    <div class="form-actions">
      <h4>Shipping Address</h4>
      <button
        class="primary-button"
        (click)="saveUserAddress()"
        [disabled]="
          !checkoutForm.get('addressForm').valid ||
          !checkoutForm.get('addressForm').dirty
        "
      >
        Save as default
      </button>
    </div>
    <div formGroupName="addressForm">
      <div class="form-group">
        <app-text-input
          [label]="'First Name'"
          formControlName="firstName"
        ></app-text-input>
        <app-text-input
          [label]="'Last Name'"
          formControlName="lastName"
        ></app-text-input>
        <app-text-input
          [label]="'Street'"
          formControlName="street"
        ></app-text-input>
        <app-text-input
          [label]="'City'"
          formControlName="city"
        ></app-text-input>
        <app-text-input
          [label]="'Country'"
          formControlName="country"
        ></app-text-input>
        <app-text-input
          [label]="'Post Code'"
          formControlName="postCode"
        ></app-text-input>
      </div>
    </div>
  </div>

  <div class="checkout-actions">
    <button class="primary-button" [routerLink]="['/basket']">Basket</button>
    <button
      class="primary-button"
      cdkStepperNext
      [disabled]="!checkoutForm.get('addressForm').valid"
    >
      Continue
    </button>
  </div>
</div>
