<app-image-carousel
  [images]="images"
  [autoplay]="true"
  [height]="'500px'"
  [interval]="14000"
  [pagination]="false"
  [controls]="false"
></app-image-carousel>

<div class="container">
  <img
    class="accent-image"
    src="https://images.unsplash.com/photo-1524672353063-4f66ee1f385e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80"
    alt="handbags image"
  />
</div>

<div class="container">
  <div class="text-block">
    <h1>Credit where credit is due</h1>
    <p>Click here to see a list of photographers featured on this site</p>
    <button class="primary-button">Take me</button>
  </div>
</div>

<div class="container">
  <img
    class="accent-image"
    src="https://images.unsplash.com/photo-1469334031218-e382a71b716b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
    alt="yellow"
  />
</div>

<div class="container">
  <img
    class="accent-image"
    src="https://images.unsplash.com/photo-1519698363407-c948d65fbc94?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
    alt="yellow"
  />
</div>

<div class="container">
  <img
    class="accent-image"
    src="https://images.unsplash.com/photo-1484755560615-a4c64e778a6c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1989&q=80"
    alt="yellow"
  />
</div>
