<div [formGroup]="checkoutForm">
  <div class="row">
    <div class="form-group col-lg-12" formGroupName="paymentForm">
      <app-text-input
        [label]="'Name on card'"
        formControlName="nameOnCard"
      ></app-text-input>
    </div>
    <div class="form-group col-lg-6">
      <div #cardNumber></div>
      <ng-container *ngIf="cardErrors">
        <span>{{ cardErrors }}</span>
      </ng-container>
    </div>
    <div class="form-group col-lg-3">
      <div #cardExpiry></div>
    </div>
    <div class="form-group col-lg-3">
      <div #cardCvc></div>
    </div>
  </div>
</div>

<div class="checkout-actions">
  <button class="primary-button" cdkStepperPrevious>Back</button>
  <button
    class="primary-button"
    [disabled]="
      loading ||
      checkoutForm.get('paymentForm').invalid ||
      !cardNumberValid ||
      !cardExpiryValid ||
      !cardCvcValid
    "
    (click)="submitOrder()"
  >
    Submit
    <ng-container *ngIf="loading">
      <mat-spinner class="loading-spinner" diameter="16"></mat-spinner>
    </ng-container>
  </button>
</div>

<div class="test">
  <h2>Card details for authenticated test payment:</h2>
  <p>Card Number: 4000 0000 0000 3063</p>
  <p>Expiry Date: 12/31</p>
  <p>CVC: 123</p>
</div>
