<div class="container">
  <form
    class="register-form"
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
  >
    <app-form-input
      formControlName="displayName"
      [label]="'Display name'"
    ></app-form-input>
    <app-form-input
      formControlName="email"
      [label]="'Email address'"
    ></app-form-input>
    <app-form-input
      formControlName="password"
      [label]="'Password'"
      [type]="'password'"
    ></app-form-input>
    <app-form-input
      formControlName="confirmPassword"
      [label]="'Confirm Password'"
      [type]="'password'"
    ></app-form-input>

    <ul *ngIf="errors">
      <li *ngFor="let error of errors">
        <span class="validation-error">
          {{ error }}
        </span>
      </li>
    </ul>

    <!-- <div>
        <input type="checkbox" id="rememberMe" />
        <label for="rememberMe">Check me out</label>
      </div> -->
    <button class="primary-button" type="submit">Register</button>
  </form>
</div>
