.register-form {
  display: flex;
  flex-direction: column;
  position: relative;

  .loading-spinner {
    position: absolute;
    right: 0;
    bottom: 10px;
  }

  .validation-error {
    position: absolute;
    bottom: 65px;
    left: 5px;
    font-size: 10px;
    color: red;
  }
}
