<div class="container">
  <div class="row" *ngIf="product">
    <div class="col-lg-6">
      <img src="{{ product.pictureUrl }}" alt="{{ product.name }}" class="" />
    </div>
    <div class="col-lg-6">
      <h3>{{ product.name }}</h3>
      <p>{{ product.price | currency }}</p>
      <div class="product-actions">
        <mat-icon (click)="decrementQuantity()">remove_circle_outline</mat-icon>
        <span>{{ quantity }}</span>
        <mat-icon (click)="incrementQuantity()">add_circle_outline</mat-icon>
        <button mat-flat-button color="primary" (click)="addItemToBasket()">
          Add to cart
        </button>
      </div>
    </div>
    <div class="col-lg-12">
      <h4>Description</h4>
      <p>{{ product.description }}</p>
    </div>
  </div>
</div>
