<div [formGroup]="checkoutForm">
  <div class="delivery-form" formGroupName="deliveryForm">
    <label
      class="delivery-method-label"
      *ngFor="let deliveryMethod of deliveryMethods"
    >
      {{ deliveryMethod.shortName }} -
      {{ deliveryMethod.price | currency: "GBP" }}
      <input
        type="radio"
        id="{{ deliveryMethod.id }}"
        value="{{ deliveryMethod.id }}"
        formControlName="deliveryMethod"
        (click)="setShippingPrice(deliveryMethod)"
      />
      <span class="delivery-method-checkbox"></span>
      <span class="delivery-method-description">{{
        deliveryMethod.description
      }}</span>
    </label>
  </div>
</div>

<div class="checkout-actions">
  <button class="primary-button" cdkStepperPrevious>Back</button>
  <button
    class="primary-button"
    [disabled]="checkoutForm.get('deliveryForm').invalid"
    cdkStepperNext
  >
    Continue
  </button>
</div>
