.section-header {
  margin-top: 20px;
  margin-bottom: 20px;

  .breadcrumb-container {
    display: flex;
    justify-content: flex-end;

    .breadcrumb {
      display: flex;
      justify-content: center;
      align-items: center;

      .breadcrumb-item {
        &:not(:first-of-type) {
          margin-left: 5px;
        }
      }
    }
  }
}
