<div class="container">
  <div class="col-lg-12 order-headers">
    <div class="col-lg-4 left-no-padding">Order</div>
    <div class="col-lg-4">Date</div>
    <div class="col-lg-3">Total</div>
    <div class="col-lg-1 right-no-padding status">Status</div>
  </div>
  <div
    *ngFor="let order of orders"
    class="col-lg-12 order"
    routerLink="/orders/{{ order.id }}"
  >
    <div class="col-lg-4 left-no-padding">#{{ order.id }}</div>
    <div class="col-lg-4">{{ order.orderDate.split("T")[0] }}</div>
    <div class="col-lg-3">
      {{ order.total | currency: "GBP" }}
    </div>
    <div class="col-lg-1 right-no-padding status">
      {{ order.status }}
    </div>
  </div>
</div>
