@import "variables";

.form-group {
  position: relative;
  margin: 35px 0;

  .loading-spinner {
    stroke: $black;
    position: absolute;
    top: 12px;
    right: 5px;
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }

  .form-input {
    background-color: white;
    color: grey;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid grey;
    margin: 25px 0;

    &:focus {
      outline: none;
    }

    &:focus,
    &:active,
    &:selected {
      background-color: $light-grey;
    }

    &:focus ~ label {
      top: -14px;
      font-size: 12px;
      color: black;
    }
  }

  .form-label {
    color: grey;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      top: -14px;
      font-size: 12px;
      color: black;
    }
  }

  .validation-error {
    position: absolute;
    bottom: -15px;
    left: 5px;
    font-size: 10px;
    color: red;
  }
}
