<div class="form-group">
  <ng-container
    *ngIf="
      controlDir &&
      controlDir.control &&
      controlDir.control.status === 'PENDING'
    "
  >
    <mat-spinner class="loading-spinner" diameter="16"></mat-spinner>
  </ng-container>
  <label
    class="form-label"
    [ngClass]="
      controlDir && controlDir.control && controlDir.control.value
        ? 'shrink'
        : ''
    "
    for="{{ label }}"
    >{{ label }}</label
  >
  <input
    [ngClass]="
      controlDir && controlDir.control && controlDir.control.touched
        ? !controlDir.control.valid
          ? 'is-invalid'
          : 'is-valid'
        : null
    "
    [type]="type"
    (input)="onChange($event.target.value)"
    (blur)="onTouched()"
    id="{{ label }}"
    #input
    class="form-input"
  />
  <ng-container
    *ngIf="
      controlDir &&
      controlDir.control &&
      !controlDir.control.valid &&
      controlDir.control.touched
    "
  >
    <span class="validation-error" *ngIf="controlDir.control.errors?.required">
      {{ label }} is required
    </span>
    <span class="validation-error" *ngIf="controlDir.control.errors?.pattern">
      Invalid email address
    </span>
  </ng-container>
  <ng-container
    *ngIf="
      controlDir &&
      controlDir.control &&
      !controlDir.control.valid &&
      controlDir.control.dirty
    "
  >
    <span
      class="validation-error"
      *ngIf="controlDir.control.errors?.emailAlreadyExists"
    >
      Email is already in use
    </span>
  </ng-container>
</div>
