@import "variables";

.product {
  border: 1px solid $light-grey-border;
  margin: 10px 0;
  padding: 5px;

  .product-image {
    width: 100%;
  }

  .product-header {
    .product-title {
      font-weight: bold;
      display: block;
      height: 40px;
    }
  }

  .product-content {
    height: 200px;
  }

  .product-actions {
    display: flex;

    button {
      min-width: 0;
      width: calc(50%);
    }
  }
}
