<div class="product">
  <img
    class="product-image"
    src="{{ product.pictureUrl }}"
    alt="{{ product.name }}"
  />
  <div class="product-header">
    <a class="product-title" routerLink="/shop/{{ product.id }}">{{
      product.name
    }}</a>
    <span class="product-subtitle">{{ product.price | currency: "GBP" }}</span>
  </div>
  <div class="product-actions">
    <button mat-flat-button color="primary" (click)="addItemToBasket()">
      ADD
    </button>
    <button mat-flat-button color="primary" routerLink="/shop/{{ product.id }}">
      VIEW
    </button>
  </div>
</div>
