<div class="container product-listing-page">
  <div class="row">
    <div class="col-lg-2">
      <mat-form-field appearance="fill" class="sort-options">
        <mat-label>Sort</mat-label>
        <mat-select
          name="sortOptions"
          id="sortOptions"
          [(value)]="shopParams.sort"
          (valueChange)="onSortSelected()"
        >
          <mat-option *ngFor="let sort of sortOptions" [value]="sort.value">
            {{ sort.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <ul class="facet-category">
        <li class="facet facet-header">Brands</li>
        <li
          class="facet"
          *ngFor="let brand of productBrands"
          [class.active]="brand.id === this.shopParams.brandId"
          [value]="brand.id"
          (click)="onBrandSelected(brand.id)"
        >
          {{ brand.name }}
        </li>
      </ul>
      <ul class="facet-category">
        <li class="facet facet-header">Types</li>
        <li
          class="facet"
          *ngFor="let type of productTypes"
          [class.active]="type.id === this.shopParams.typeId"
          [value]="type.id"
          (click)="onTypeSelected(type.id)"
        >
          {{ type.name }}
        </li>
      </ul>
    </div>
    <div class="col-lg-10">
      <div class="facet-sorting">
        <app-pagination-header
          [totalCount]="totalCount"
          [pageSize]="this.shopParams.pageSize"
          [pageNumber]="this.shopParams.pageNumber"
        ></app-pagination-header>
        <div>
          <mat-form-field>
            <input
              (keyup.enter)="onSearch()"
              type="text"
              matInput
              placeholder="Search"
              #search
            />
            <button matSuffix mat-button (click)="onSearch()">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>

          <button mat-flat-button color="primary" (click)="onReset()">
            Reset
          </button>
        </div>
      </div>

      <div class="row product-list">
        <div class="col-lg-3" *ngFor="let product of products">
          <app-product-item [product]="product"></app-product-item>
        </div>
      </div>

      <mat-paginator
        [length]="this.totalCount"
        [pageSizeOptions]="[8, 12, 24]"
        aria-label="Select page"
        (page)="onPageChanged($event)"
        *ngIf="totalCount && totalCount > 0"
      >
      </mat-paginator>
    </div>
  </div>
</div>
