.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.container {
  display: flex;
  align-items: center;

  .nav-left,
  .nav-right {
    width: 300px;
    display: flex;
    align-items: center;
  }

  .nav-left {
    justify-content: flex-start;

    .logo {
      width: 25px;
      height: auto;
    }
  }

  .nav-right {
    justify-content: flex-end;
  }

  .nav-centre {
    margin: 0 auto;
  }
}
